@import "tailwindcss";

body {
  background: rgb(220, 183, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

#main-heading{
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  filter: drop-shadow(0px 0px 4px rgb(199, 199, 255));

  color: rgb(227, 238, 255);
  text-shadow: 2px 2px 2px rgb(81, 148, 255);

  font-family: "Andika", sans-serif;

  animation: rise 1.5s ease-in-out forwards;
  transition: all 1s ease;
}

#main-heading:hover{
  filter: drop-shadow(0px 0px 4px rgb(199, 199, 255));
}

@keyframes rise {
  from { transform: translateY(calc(28vh - 15px)); }
  to   {  }
}

#go-ahead{
  background-color: black;
  border-radius: 10px;

  background-image: url('@/public/enter-btn-2.png');
  background-repeat: no-repeat;
  background-size: contain;

  animation: grow-up 1.5s ease-in forwards;

  color: lightblue;

  height: clamp(100px, 35vw, 250px);
  width: clamp(100px, 35vw, 250px);

  cursor: pointer;
  transition: all 1s ease-in;
}

@keyframes grow-up {
  from{
    transform: rotate(-45deg) scale(0);
  }
  to{
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes pop-up {
  from{
    transform: rotate(0deg) scale(0);
  }
  to{
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

#btn-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

#home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  justify-content: space-around;
  gap: 25px;
  height: 80vh;
}

#github-btn{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: clamp(50px, 15vw, 150px);
  height: clamp(50px, 15vw, 150px);

  flex-direction: column;
  padding: 10px;

  justify-content: space-between;

  transform: rotate(45deg);
  overflow: visible;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  animation: pop-up 1.5s ease-in forwards;
  text-align: center;
}

#gitlogo{
  background-image: url('../public/github-logo.png');
}

#google-logo{
  background-image: url('../public/google-logo.jpg');
}

#google-logo, #gitlogo{
  min-height: 25px;
  min-width: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

#login-btn{
  display: flex;
  height: clamp(100px, 20vw, 150px);
  width: clamp(300px, 40vw,700px);
  justify-content: space-between;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(50px, 15vw, 150px);
  width: clamp(50px, 15vw, 150px);
  transform: rotate(45deg); 
  font-size: 75%;
}

@keyframes pop-up-2 {
  from{
    transform: rotate(0deg) scale(0);
  }
  to{
    transform: rotate(45deg) scale(1);
  }
}